@charset "UTF-8";

/** 0. Non Media **********************************************************************************/
.App {
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}
.main-wrapper {
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: none !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  overflow-x: hidden;
  overflow-y: hidden;
}
.detail-wrapper {
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: none !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  overflow-x: hidden;
  overflow-y: hidden;
}

/** swiper ****************************************************************************************/
.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: background-color 0.3s, transform 0.3s;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
  animation: pulse 1s infinite;
}
.swiper-button-prev {
  left: 10px;
}
.swiper-button-next {
  right: 10px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.8);
  }
  50% {
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.6);
  }
  100% {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.8);
  }
}