/** general ***************************************************************************************/
* {
  caret-color: transparent !important;
}

body {
	font-family: "Open Sans", sans-serif;
	color: #272829;
}

Link {
	color: #149ddd;
	text-decoration: none;
}

a:link {
	color: #37b3ed;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Raleway", sans-serif;
}

.img-fluid {
	max-width: 300px;
	max-height: 350px;
}

.list-transition-enter {
	opacity: 0;
	transform: translateY(-20px);
	max-height: 0;
	overflow: hidden;
}

.list-transition-enter-active {
	opacity: 1;
	transform: translateY(0);
	max-height: 800px; /* 필요한 경우 이 값을 조절하세요 */
	overflow: hidden;
	transition: opacity 300ms, transform 300ms, max-height 300ms;
}

.list-transition-exit {
	opacity: 1;
	transform: translateY(0);
	max-height: 800px; /* 필요한 경우 이 값을 조절하세요 */
	overflow: hidden;
}

.list-transition-exit-active {
	opacity: 0;
	transform: translateY(-20px);
	max-height: 0;
	overflow: hidden;
	transition: opacity 300ms, transform 300ms, max-height 300ms;
}

/** button ****************************************************************************************/
.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	background: #149ddd;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	transition: all 0.4s;
}

.back-to-top i {
	font-size: 28px;
	color: #fff;
	line-height: 0;
}

.back-to-top:hover {
	background: #2eafec;
	color: #fff;
}

.back-to-top.active {
	visibility: visible;
	opacity: 1;
}

/** breadcrumbs ***********************************************************************************/
.breadcrumbs {
	padding: 20px 0;
	background: #f9f9f9;
}

.breadcrumbs h2 {
	font-size: 26px;
	font-weight: 300;
}

.breadcrumbs ol {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 15px;
}

.breadcrumbs ol li + li {
	padding-left: 10px;
}

.breadcrumbs ol li + li::before {
	display: inline-block;
	padding-right: 10px;
	color: #0e2442;
	content: "/";
}

@media (max-width: 768px) {
	.breadcrumbs .d-flex {
		display: block !important;
	}

	.breadcrumbs ol {
		display: block;
	}

	.breadcrumbs ol li {
		display: inline-block;
	}
}

/** header ****************************************************************************************/
#header {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
	transition: all ease-in-out 0.5s;
	z-index: 9997;
	padding: 0 15px;
	background: #040b14;
	overflow-y: auto;
}

#header .profile img {
	margin: 15px auto;
	display: block;
	width: 120px;
	border: 8px solid #2c2f3f;
}

#header .profile h1 {
	font-size: 24px;
	margin: 0;
	padding: 0;
	font-weight: 600;
	-moz-text-align-last: center;
	text-align-last: center;
	font-family: "Poppins", sans-serif;
}

#header .profile h1 a,
#header .profile h1 a:hover {
	color: #fff;
	text-decoration: none;
}

#header .profile .social-links a {
	font-size: 18px;
	display: inline-block;
	background: #212431;
	color: #fff;
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
}

#header .profile .social-links a:hover {
	background: #149ddd;
	color: #fff;
	text-decoration: none;
}

#main {
	margin-left: 300px;
}

@media (max-width: 1199px) {
	#header {
		left: -300px;
	}

	#main {
		margin-left: 0;
	}
}

/** navbar ****************************************************************************************/
/* Desktop Navigation */
.nav-menu {
	padding: 30px 0 0 0;
}

.nav-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-menu > ul > li {
	position: relative;
	white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
	display: flex;
	align-items: center;
	color: #a8a9b4;
	padding: 12px 15px;
	margin-bottom: 8px;
	transition: 0.3s;
	font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
	font-size: 24px;
	padding-right: 8px;
	color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
	text-decoration: none;
	color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover > a i {
	color: #149ddd;
}

/* Mobile Navigation */
.mobile-nav-toggle {
	position: fixed;
	right: 15px;
	top: 15px;
	z-index: 9998;
	border: 0;
	font-size: 24px;
	transition: all 0.4s;
	outline: none !important;
	background-color: #149ddd;
	color: #fff;
	width: 40px;
	height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	line-height: 0;
	border-radius: 50px;
	cursor: pointer;
}

.mobile-nav-active {
	overflow: hidden;
}

.mobile-nav-active #header {
	left: 0;
}

/** hero ******************************************************************************************/
#hero {
	width: 100%;
	height: 100vh;
	background: url("../assets/images/main/main.jpg") top center;
	background-size: cover;
}

#hero:before {
	content: "";
	background: rgba(5, 13, 24, 0.3);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

#hero .hero-container {
	position: relative;
	z-index: 2;
	min-width: 300px;
	margin: 0px 0px 0px 80px;
}

#hero h1 {
	margin: 0 0 10px 0;
	font-size: 64px;
	font-weight: 700;
	line-height: 56px;
	color: #fff;
}

#hero p {
	color: #fff;
	margin-bottom: 50px;
	font-size: 26px;
	font-family: "Poppins", sans-serif;
}

#hero p span {
	color: #fff;
	padding-bottom: 4px;
	letter-spacing: 1px;
	border-bottom: 3px solid #149ddd;
}

@media (min-width: 1024px) {
	#hero {
		background-attachment: fixed;
	}
}

@media (max-width: 768px) {
	#hero h1 {
		font-size: 28px;
		line-height: 36px;
	}

	#hero h2 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 30px;
	}
}

/** section ***************************************************************************************/
section {
	padding: 20px 20px 20px 20px;
	overflow: hidden;
}

.section-bg {
	background: #f5f8fd;
}


.section-title h2 {
	font-size: 35px;
	font-weight: 900;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	color: #173b6c;
}

.section-title h2::after {
	content: "";
	position: absolute;
	display: block;
	width: 50px;
	height: 3px;
	background: #149ddd;
	bottom: 0;
	left: 0;
}

.section-title p {
	margin-bottom: 0;
}

.section-transition {
	position: relative;
	transition: transform 0.6s ease-out;
}

/** about *****************************************************************************************/
.about .content h3 {
	font-weight: 700;
	font-size: 26px;
	color: #173b6c;
  margin-bottom: 50px;
}

.about .content ul {
	list-style: none;
	padding: 0;
  margin-bottom: 30px;
}

.about .content ul li {
	display: flex;
	align-items: center;
}

.about .content ul strong {
	margin-right: 10px;
  font-size: 20px;
}

.about .content ul i {
	font-size: 16px;
	margin-right: 5px;
	color: #149ddd;
	line-height: 0;
}

.about .content p:last-child {
	margin-bottom: 0;
}

/** skills ****************************************************************************************/
.skills .progress {
	height: 60px;
	display: block;
	background: none;
	border-radius: 0;
}

.skills .skills-title {
	font-size: 26px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #050d18;
}

.skills .progress .skill {
	padding: 0;
	margin: 0 0 6px 0;
	text-transform: uppercase;
	display: block;
	font-weight: 600;
	font-family: "Poppins", sans-serif;
	color: #050d18;
}

.skills .progress .skill .val {
	float: right;
	font-style: normal;
}

.skills .progress-bar-wrap {
	background: #dce8f8;
	height: 10px;
}

.skills .progress-bar {
	width: 1px;
	height: 10px;
	transition: 0.9s;
	background-color: #149ddd;
}


/** portfolio *************************************************************************************/
.portfolio .portfolio-item {
	min-height: 300px;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
}

.portfolio #portfolio-filters {
	padding: 0;
	margin: 0 auto 35px auto;
	list-style: none;
	text-align: center;
	background: #fff;
	border-radius: 50px;
	padding: 2px 15px;
}

.portfolio #portfolio-filters li {
	cursor: pointer;
	display: inline-block;
	padding: 10px 15px 8px 15px;
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	color: #272829;
	margin-bottom: 5px;
	transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-filters li:hover,
.portfolio #portfolio-filters li.filter-active {
	color: #149ddd;
}

.portfolio #portfolio-filters li:last-child {
	margin-right: 0;
}

.portfolio .portfolio-wrap {
	height: 100%;
	transition: 0.3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.portfolio .portfolio-wrap::before {
	content: "";
	background: rgba(255, 255, 255, 0.5);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition: all ease-in-out 0.3s;
	z-index: 2;
	opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
	opacity: 1;
	left: 0;
	right: 0;
	bottom: -60px;
	z-index: 3;
	position: absolute;
	transition: all ease-in-out 0.3s;
	display: flex;
	justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-links a {
	color: #fff;
	font-size: 28px;
	text-align: center;
	background: rgba(20, 157, 221, 0.75);
	transition: 0.3s;
	width: 100%;
}

.portfolio .portfolio-wrap .portfolio-links h5 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  transition: 0.3s;
  width: 100%;
}

.portfolio .portfolio-wrap .portfolio-links p {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  transition: 0.3s;
  width: 100%;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
	background: rgba(20, 157, 221, 0.95);
}

.portfolio .portfolio-wrap .portfolio-links a + a {
	border-left: 1px solid #37b3ed;
}

.portfolio .portfolio-wrap:hover::before {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-links {
	opacity: 1;
	bottom: 0;
}

.portfolio-details {
    padding-top: 40px;
  }

  .portfolio-details .portfolio-details-slider img {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .portfolio-details .portfolio-info {
    padding: 30px 30px 0 30px;
    box-shadow: 0px 0 30px rgba(5, 13, 24, 0.08);
  }

  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    padding-top: 20px;
    border-top: 1px solid #eee;
    display: inline-flex;
  }

  .portfolio-details .portfolio-info h5 {
    align-items: left;
    font-size: 18px;
    display: inline-flex;
  }

  .portfolio-details .portfolio-info h6 {
    align-items: left;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }

  .portfolio-details .portfolio-info span {
    font-size: 15px;
    display: inline-flex;
    align-items: left;
    margin-right: 10px;
    word-break: keep-all;
  }

  .portfolio-details .portfolio-info ul li + li {
    margin-top: 10px;
  }

/** footer ****************************************************************************************/
#footer {
	padding: 15px;
	color: #f4f6fd;
	font-size: 14px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 300px;
	z-index: 9999;
	background: #040b14;
}

#footer .copyright {
	text-align: center;
}

#footer .credits {
	padding-top: 5px;
	text-align: center;
	font-size: 13px;
	color: #eaebf0;
}

@media (max-width: 1199px) {
	#footer {
		position: static;
		width: auto;
		padding-right: 20px 15px;
	}
}

.contact {
  margin-top: 30px;
	padding-bottom: 130px;
}


/** etc *******************************************************************************************/
.glowing-text {
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}

.glowing-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(20, 157, 221, 0) 0%, rgba(20, 157, 221, 0.293) 20%, rgba(20, 157, 221, 0.4) 80%, rgba(20, 157, 221, 0) 100%);
  opacity: 0;
  transform: translateX(-100%);
  animation: shine 1.5s infinite linear;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

@keyframes shine {
  0% {
  transform: translateX(-100%);
    opacity: 0.3;
  }
  50% {
  transform: translateX(50%);
    opacity: 0.3;
  }
  100% {
  transform: translateX(100%);
    opacity: 0;
  }
}

.image-container {
  position: relative;
  display: inline-block;
}

.overlay-icon {
  position: absolute;
  top: 5%;
  right: 3%;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  padding: 0px 15px 10px 15px;
}

.jungho-border-top {
  border-top: 1px solid #e0e0e0;
}

